.features {
  .section-title {
    margin-bottom: 48px;
  }
}

.features-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -30px;
  margin-left: -30px;

  &:first-of-type {
    margin-top: -16px;
  }

  &:last-of-type {
    margin-bottom: -16px;
  }
}

.feature {
  padding: 16px 30px;
  width: 380px;
  max-width: 380px;
  flex-grow: 1;
}

.feature-inner {
  height: 100%;

  &.support {
    display: flex;
    flex-direction: column;

    p {
      margin-top: 32px;
      margin-bottom: 32px;
    }

    a {
      align-self: center;

      &.button {
        margin-top: auto;
      }
    }
  }
}

.feature-title {
  @include font-family(base);
  @include font-weight(medium);
}

@include media(">medium") {
  .features {
    position: relative;

    .section-inner {
      padding-bottom: 100px;
    }

    .section-title {
      position: relative;
      margin-bottom: 80px;

      &::before {
        content: "";
        position: absolute;
        left: -40px;
        top: -25px;
        width: 49px;
        height: 50px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBmaWxsPSIjNDdBMUY5IiBvcGFjaXR5PSIuMTIiIGQ9Ik0xNC4xMzggOWwtNy45NzMgMy42NjdMNCAyMC40MzJsMi41NDcgNy4zOTNMMTQuMTM3IDMxbDcuMTQ4LTMuNjA1TDI2IDIwLjQzMmwtMy41NjMtOC4wODN6Ii8+PHBhdGggZmlsbD0iIzQ3QTFGOSIgb3BhY2l0eT0iLjI1IiBkPSJNNDYuMzA0IDBsLTEuODEyLjgzM0w0NCAyLjU5OGwuNTc5IDEuNjhMNDYuMzA0IDVsMS42MjQtLjgyTDQ5IDIuNTk5IDQ4LjE5Ljc2MXpNMi4zMDQgNDVsLTEuODEyLjgzM0wwIDQ3LjU5OGwuNTc5IDEuNjhMMi4zMDQgNTBsMS42MjQtLjgyTDUgNDcuNTk5bC0uODEtMS44Mzd6Ii8+PC9nPjwvc3ZnPg==);
      }
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      top: 60px;
      width: 257px;
      height: 279px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU3IiBoZWlnaHQ9IjI3OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48bGluZWFyR3JhZGllbnQgeDE9IjguNjg1JSIgeTE9IjIzLjczMyUiIHgyPSI5OS40MzUlIiB5Mj0iODUuMDc4JSIgaWQ9ImEiPjxzdG9wIHN0b3AtY29sb3I9IiM0N2ExZjkiIG9mZnNldD0iMCUiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmRmZmRhIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMTAwJSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxwYXRoIGQ9Ik0xODMwLjE3MSAxMDE3LjY0YzE2MC4wODYgMCA3MDIuNTI3LTIyOC4yNiAyODkuODYyLTI5MC00MTIuNjY2LTYxLjczNy0xMjkuNzc2LTI5MC0yODkuODYyLTI5MHMtMjg5Ljg2MSAxMjkuODM4LTI4OS44NjEgMjkwYzAgMTYwLjE2MyAxMjkuNzc1IDI5MCAyODkuODYxIDI5MHoiIHRyYW5zZm9ybT0ic2NhbGUoLTEgMSkgcm90YXRlKC02IC01ODU0LjE1NCAyMjExNC44NTcpIiBmaWxsPSJ1cmwoI2EpIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
    }
  }

  .features-wrap {
    &:first-of-type {
      margin-top: -32px;
    }

    &:last-of-type {
      margin-bottom: -32px;
    }
  }

  .feature {
    padding: 32px 30px;
  }
}
